.heroSection {
  background-image: url(/public/hero.jpg);
  background-size: cover;
  text-align: center;
}

.heroTitleStart {
  font-size: 25px;
  color: #f7f2e8;
  margin: 0px;
  padding-top: 175px;
}

.heroTitleEnd {
  font-size: 80px;
  color: #f7f2e8;
  margin: 0px;
  padding-bottom: 75px;
}

.heroDescription {
  font-size: 15px;
  color: #f7f2e8;
  margin: 0px;
  padding-bottom: 250px;
}

.sectionOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sectionOneParagraph {
  color: #f7f2e8;
}

.loopkitImg {
  width: 25%;
}

.container {
  min-height: calc(70vh + 22.5px);
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .heroTitleEnd {
    font-size: 60px;
  }
}
