.headerNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424874;
  box-shadow: 0px 0px 5px;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 30px;
  margin-left: 10px;
  color: #424874;
}

.headerLink {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: #424874;
  padding: 10px 20px;
  margin-right: 10px;
}

.headerLink:last-child {
  margin-right: 0px;
}

.headerLink:hover {
  background-color: #dcd6f7;
  transition: 0.75s;
}
