.footer {
  display: flex;
  bottom: 0;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

.informationContainer {
  display: flex;
  flex-direction: column;
}

.contactContainer {
  display: flex;
  flex-direction: column;
}

.locationContainer {
  display: flex;
  flex-direction: column;
}

.containerTitle {
  color: #f7f2e8;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}

.containerDescription {
  color: #f7f2e8;
  font-size: 10px;
  font-weight: 400;
}

.containerDescriptionSpecial {
  color: #f7f2e8;
  font-size: 10px;
  font-weight: 400;
  margin-top: 50px;
}

.containerDescriptionEdit {
  color: #f7f2e8;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.75;
}

.footerContact {
  display: flex;
  gap: 10px;
}

.footerIcon {
  margin: auto 0px;
  color: #f7f2e8;
}

@media only screen and (max-width: 650px) {
  .containerDescriptionSpecial {
    display: none;
  }
}
