.browseShops {
  color: #f7f2e8;
  font-size: 35px;
  margin: 0px auto 25px auto;
  text-align: center;
}

.noShops {
  color: #f7f2e8;
  font-size: 35px;
  margin: 50px auto;
  text-align: center;
}
.container {
  margin: auto;
  text-align: center;
  min-height: 72.5vh;
}
