.input {
  background-color: #222222;
  color: #f7f2e8;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 100px;
  border: none;
}

.loginButton {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 50%,
    #da22ff 100%
  );
  padding: 10px 25px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f7f2e8;
  border-radius: 25px;
  border: none;
}

.loginButton:hover {
  background-position: right center;
  color: #f7f2e8;
  cursor: pointer;
}
